<div class="edit_contact_information">
    <div class="edit_info_header">
        <h1 mat-dialog-title>Edit Contact information</h1>
        <button class="small_btn" mat-button mat-dialog-close>
            <mat-icon class="noMargin">close</mat-icon>
        </button>
    </div>
    <div mat-dialog-actions class="form_position">
        <form>
            <div class="d_flex_column">
                <p>
                    <mat-icon>lock</mat-icon>
                    <b>Email Address</b>
                </p>
                <input matInput placeholder="Email@email.de" disabled="" class="mat_input lock_input">
            </div>
            <div class="d_flex_column">
                <p>Phone</p>
                <input *ngIf="data.currentUser.phone" [value]="data.currentUser.phone" class="mat_input"><br *ngIf="data.currentUser.phone">
                <input *ngIf="!data.currentUser.phone" placeholder="Enter your Phonenumber" class="mat_input"><br *ngIf="!data.currentUser.phone">
            </div>
            <div class="edit_btn_container">
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-button>Save Changes</button>
            </div>
        </form>
    </div>
</div>