.form_position {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 24px 10px;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    form{
        width: 100%;
    }
}

.edit_info_header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 18px;
    align-items: center;

    h1 {
        display: flex;
        align-items: center;
        padding: 0 14px;
        margin: 0;
    }
}

.small_btn {
    min-width: 40px;
    padding: 0;
}

.noMargin {
    margin: 0 !important;
    background: unset;
}


.d_flex_column {
    display: flex;
    flex-direction: column;

    p {
        display: flex;
        align-items: center;
        gap: 6px;
    }
}

.edit_btn_container {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;

    button {
        border: 1px solid rgba(110, 111, 113, 0.5);
    }

    button:last-child {
        background-color: #007a5a;
    }
}

.lock_input {
    background: rgba(248, 248, 248, 0.10) !important;
    cursor: not-allowed;
}

.mat_input {
    height: 38px;
    padding: 0px 12px;
    width: 100%;
    max-width: calc(100% - 24px);
    background-color: rgba(26, 29, 33);
    color: rgba(209, 210, 211);
    margin-bottom: 22px;
    border: 1px solid rgba(110, 111, 113, 0.5);
    border-radius: 5px;
    font-size: 18px;
    transition: 0.15s ease-in-out;

    &:focus {
        box-shadow: 0px 0px 0px 4px rgba(84, 192, 239, 0.527);
        border: 1px solid rgb(18, 100, 163);
        outline: none;
    }

}

.edit_contact_information {
    background-color: rgba(26, 29, 33) !important;
    border: 1px solid rgba(110, 111, 113, 0.5);
    border-radius: 4px;
    color: white;
    max-width: 600px;
}