<!-- <div class="profile_main_container">
    <div class="profile_header">
        <b>Profile</b>
        <button class="small_btn" mat-flat-button>
            <mat-icon class="noMargin">close</mat-icon>
        </button>
    </div>
    <div class="profile_center_container">
        <div class="profile_img_posi">
            <img src="../../assets/img/unknow_user.png">
            <button class="edit_own_photo" mat-button (click)="uploadPhoto()">
             Upload Photo
            </button>
        </div>
        <div>
            <p class="profile_name">
                <b>John Doe</b>
                <button mat-button (click)="editProfile()">
                    Edit
                </button>
            </p>
            <p>TITLE</p>
            <p class="schedule_position">
                <mat-icon [ngClass]="profileContactOnline ? 'green-icon' : 'white'">online_prediction</mat-icon>
                Away<br>
            </p>
        </div>
        <p class="schedule_position">
            <mat-icon>schedule</mat-icon>
           die uhrzeit vom user der gerade focusiert wird 
            00.00 AM/PM local time
        </p>
        <div class="profile_btn_container">
            <button class="profile_btn" mat-flat-button (click)="setStatus()">
                Set a Status
            </button>
            
            <button class="profile_btn" mat-flat-button [matMenuTriggerFor]="viewAsOwnUser">
                View as
                <mat-icon>expand_more</mat-icon>
            </button>
            <mat-menu #viewAsOwnUser="matMenu" xPosition="before">
                <button mat-menu-item
                *ngFor="let matMenuOrganisation of viewAsOptions"
                (click)="getVisibilityStatus(matMenuOrganisation.visibility)">
                    A coworker at 
                    {{matMenuOrganisation.organisation}}
                </button>
                <button mat-menu-item>A contact from other organisation</button>
            </mat-menu>

            <button class="profile_btn small_btn" mat-flat-button [matMenuTriggerFor]="ownUserPointMenu">
                <mat-icon class="noMargin">more_vert</mat-icon>
            </button>
            <mat-menu #ownUserPointMenu="matMenu" xPosition="before">
                <button mat-menu-item 
                    *ngFor="let matMenuBtn of ownUserPointMenuItems" 
                    (click)="matMenuRedirection(matMenuBtn.function)">
                    {{matMenuBtn.text}}
                </button>
            </mat-menu>
        </div>
    </div>
    <div class="profile_information_container">
        <p class="contact_information">
            <b>Contact information</b>
            <button mat-button (click)="editContactInfo()">
                Edit
            </button>
        </p>
        <div class="profile_info_container">
            <div class="profile_info">
                <mat-icon class="icon_bg">email</mat-icon>
                <div>
                    <p>Email Address</p>
                    <a href="mailto:abc@dada.de">dadada@da.de</a>
                </div>
            </div>
            <br>
            <div class="profile_info">
                <mat-icon class="icon_bg">phone</mat-icon>
                <div>
                    <p>Phone number</p>
                    <a href="tel:0173 6369654">0173 6369654</a>
                </div>
            </div>
        </div>
    </div>
</div> -->