<div class="fix_right">
  <span>Not an account ?</span>
  <a routerLink="register">change to register</a>
</div>

<div class="login_container">
  <div class="login_header">
    <img src="assets/img/slack_logo+font.png" />
  </div>

  <div class="login_headline">
    <h1>Login for Slack-Clone</h1>
  </div>

  <div class="login_headline2">
    We recommend that you use the email address you use at work.
  </div>

  <div class="form">
    <div>
      <input [(ngModel)]="email" type="text" placeholder="E-Mail" />
      <input [(ngModel)]="password" type="password" placeholder="Password" />
      <button (click)="logInUser()">Login</button>
    </div>
  </div>

  <div class="extern_login_placeholer">
    <div class="line"></div>
    <span><p>OR</p></span>
    <div class="line"></div>
  </div>

  <div class="extern_login_buttons">
    <div (click)="loginWithGoogle()" class="extern_button">
      <img src="assets/img/google_logo.png" /> Login with Google
    </div>
  </div>
  <div class="extern_login_buttons">
    <div class="extern_button" routerLink="/workspace">Guest login</div>
  </div>
</div>
