<div class="login_container">
  <div class="login_header">
    <img src="assets/img/slack_logo+font.png" />
  </div>

  <div class="login_headline">
    <h1>First, enter your email address and password.</h1>
  </div>

  <form action="">
    <div>
      <input type="text" placeholder="E-Mail" />
      <input type="text" placeholder="Password" />
      <button routerLink="/workspace">Login</button>
    </div>
  </form>

  <div class="extern_login_placeholer">
    <div class="line"></div>
    <span><p>OR</p></span>
    <div class="line"></div>
  </div>

  <div class="extern_login_buttons">
    <div class="extern_button"> <img src="assets/img/google_logo.png"> Login with Google</div>
  </div>
</div>
