<mat-drawer-container
  class="example-container left-container"
  *ngIf="link !== '/' && link !== '/register'"
>
  <mat-drawer mode="side" opened position="start">
    <app-left-side-menu></app-left-side-menu>
  </mat-drawer>
  <mat-drawer-content>

    <router-outlet></router-outlet>



  </mat-drawer-content>
</mat-drawer-container>
<mat-drawer mode="side" opened position="end" class="profil_app">
  <app-contact-profil></app-contact-profil>
</mat-drawer>
<router-outlet *ngIf="link == '/' || link == '/register'"></router-outlet>
