<mat-drawer-container class="example-container left-container" *ngIf="link !== '/' && link !== '/register'">

  <mat-drawer mode="side" opened position="start">
    <app-left-side-menu></app-left-side-menu>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

  <mat-drawer mode="side" opened class="profil_app">
    <app-contact-profil *ngIf="!ownProfile"></app-contact-profil>
    <app-own-profil *ngIf="ownProfile"></app-own-profil>
    <button (click)="toggleOwnUser()">Toggle Ansicht(nur vorübergehend)</button>
  </mat-drawer>
  
</mat-drawer-container>

<router-outlet *ngIf="link == '/' || link == '/register'"></router-outlet>