<div class="get_status_container">
    <div class="edit_status_header">
        <h1 mat-dialog-title>Set a status</h1>
        <button class="small_btn" mat-button mat-dialog-close>
            <mat-icon class="noMargin">close</mat-icon>
        </button>
    </div>
    <div mat-dialog-actions class="form_position">
        <form>
            <input matInput placeholder="What's your status?" class="mat_input">
            <div class="d_flex_column">
                <button mat-button>
                    <p>a</p>
                </button>
                <button mat-button>
                    <p>a</p>
                </button>
                <button mat-button>
                    <p>a</p>
                </button>
                <button mat-button>
                    <p>a</p>
                </button>
                <button mat-button>
                    <p>a</p>
                </button>
            </div>
            <div class="edit_btn_container">
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-button disabled="">Save Changes</button>
            </div>
        </form>
    </div>
</div>