<button routerLink="">change to login</button>

<div class="register_container">
  <div class="register_header">
    <img src="assets/img/slack_logo+font.png" />
  </div>

  <div class="register_headline">
    <h1>Register for Slack-Clone</h1>
  </div>

  <form action="">
    <div>
      <input type="text" placeholder="E-Mail" />
      <input type="text" placeholder="Password" />
      <button routerLink="/workspace">Login</button>
    </div>
  </form>

  <div class="extern_register_placeholer">
    <div class="line"></div>
    <span><p>OR</p></span>
    <div class="line"></div>
  </div>

  <div class="extern_register_buttons">
    <div class="extern_button"> <img src="assets/img/google_logo.png"> Login with Google</div>
  </div>
</div>
