<div class="fix_right">
  <span>Not an account ?</span>
  <a routerLink="">change to register</a>
</div>

<div class="register_container">
  <div class="register_header">
    <img src="assets/img/slack_logo+font.png" />
  </div>

  <div class="register_headline">
    <h1>Register for Slack-Clone</h1>
  </div>

  <div class="register_headline2">
    We recommend that you use the email address you use at work.
  </div>

  <div class="form">
    <div>
      <input [disabled]="registerUserProgress" [(ngModel)]="user.email" type="text" placeholder="E-Mail" />
      <input [disabled]="registerUserProgress"
        [(ngModel)]="user.password"
        type="password"
        placeholder="Password"
      />
      <button (click)="setNewUser()">Register</button>
    </div>
  </div>

</div>
